<a href="https://colab.research.google.com/github/anshupandey/Generative-AI-for-Professionals/blob/main/Case_Study_SQL_Databot_with_LangChain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL DataBot

## Setting Up Environment

In [3]:
!pip -q install langchain langchain-openai openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 867.6/867.6 kB 11.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 312.9/312.9 kB 17.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 34.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.9/302.9 kB 24.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.4/116.4 kB 13.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 51.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 4.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 7.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 5.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.7/142.7 kB 16.3 MB/s eta 0:00:00

In [5]:
import os
from langchain import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from langchain.agents import AgentType

## Downloading the CHinook Database

In [21]:
!wget -q https://raw.githubusercontent.com/anshupandey/Generative-AI-for-Professionals/main/datasets/Chinook_database.db

In [30]:
OPENAI_API_KEY = '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'
model_name="gpt-4"
os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY

## Implementing the SQL DataBot Agent

In [31]:
# Initialize a language model with specified parameters
llm = ChatOpenAI(temperature=0, model_name=model_name)

In [32]:
# Initialize a database connection using the provided URI
db_uri = "sqlite:///Chinook_database.db"
db = SQLDatabase.from_uri(
    db_uri,
    include_tables=[
        "Album",
        "Artist",
        "Customer",
        "Employee",
        "Genre",
        "Invoice",
        "InvoiceLine",
        "Playlist",
        "PlaylistTrack",
        "Track"
    ],  # Include specific database tables for token-saving purposes
    sample_rows_in_table_info=2  # Limit the number of rows sampled from each table
)

In [33]:
# Initialize a toolkit for interacting with the SQL database and language model
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [34]:
# Create an agent executor with specified parameters
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION
)

In [35]:
# Define a function 'agent' that takes user input 'text'
def agent(text):
    # Create an agent executor with specified parameters inside the function
    agent_executor = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        verbose=True,
        agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION
    )
    # Return the result of the agent's response to the input text
    return agent_executor(text + """ Instruction: Pass action_input only in natural
                          language to tool and if necessary only show top 5 results
                          if you feel the query is fetching more data. Whenever you
                          don't know the answer, just mention 'please rephrase
                          your question.'""")

In [36]:
# Function to send the message to the chatbot and get a response
def send_message(message):
    response = agent(message)
    return response['output']

## Testing the SQL Databot Agent

In [37]:
def run_chatbot():
    print("Welcome to the SQL DataBot. Type 'quit' to exit.")

    while True:
        user_input = input("You: ")
        if user_input.lower() == "quit":
            print("ChatBot: Goodbye!")
            break

        # Call the `process_input` function and print the response
        response = send_message(user_input)
        print(f"ChatBot: {response}")

In [38]:
# You:  	Who are the top 5 artists by total sales revenue, and how much has each earned?

In [40]:
run_chatbot()

Welcome to the SQL DataBot. Type 'quit' to exit.
You: Who are the top 5 artists by total sales revenue, and how much has each earned?


> Entering new SQL Agent Executor chain...
To answer this question, I need to find the total sales revenue for each artist. This information would likely be stored in a table that records sales transactions, with each transaction linked to an artist. I'll first need to check what tables are available in the database.
Action: sql_db_list_tables
Action Input: ""Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, Playlist, PlaylistTrack, TrackThe tables that could contain the information I need are Artist, Invoice, and InvoiceLine. The Artist table likely contains information about the artists, the Invoice table likely contains information about each sale, and the InvoiceLine table likely contains information about each item in a sale. I'll need to check the schema of these tables to confirm.
Action: sql_db_schema
Action Input: "Artist, Invoice, InvoiceLine"
CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
2 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
2 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
2 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
*/The Artist table contains the artist names and their IDs, the Invoice table contains the total amount for each invoice, and the InvoiceLine table contains the quantity and unit price of each item in an invoice. However, I don't see a direct link between the Artist and Invoice or InvoiceLine tables. The InvoiceLine table is linked to the Track table, which might contain the artist ID. I'll need to check the schema of the Track table.
Action: sql_db_schema
Action Input: "Track"
CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
2 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
*/The Track table contains the AlbumId, which could be used to link to the Artist. I'll need to check the schema of the Album table to confirm this.
Action: sql_db_schema
Action Input: "Album"
CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
2 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
*/The Album table contains the ArtistId, which can be used to link the Artist to the Track, and then to the InvoiceLine and Invoice tables. Now I can write a SQL query to find the total sales revenue for each artist. I'll need to join the Artist, Album, Track, InvoiceLine, and Invoice tables, group by the artist name, and sum the total amount for each group. I'll also order the results by the total amount in descending order and limit the results to the top 5.
Action: sql_db_query_checker
Action Input: "SELECT a.Name, SUM(i.Total) as TotalRevenue FROM Artist a JOIN Album al ON a.ArtistId = al.ArtistId JOIN Track t ON al.AlbumId = t.AlbumId JOIN InvoiceLine il ON t.TrackId = il.TrackId JOIN Invoice i ON il.InvoiceId = i.InvoiceId GROUP BY a.Name ORDER BY TotalRevenue DESC LIMIT 5"SELECT a.Name, SUM(i.Total) as TotalRevenue
FROM Artist a
JOIN Album al ON a.ArtistId = al.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
JOIN Invoice i ON il.InvoiceId = i.InvoiceId
GROUP BY a.Name
ORDER BY TotalRevenue DESC
LIMIT 5The SQL query is correct. Now I can execute it to get the top 5 artists by total sales revenue.
Action: sql_db_query
Action Input: "SELECT a.Name, SUM(i.Total) as TotalRevenue FROM Artist a JOIN Album al ON a.ArtistId = al.ArtistId JOIN Track t ON al.AlbumId = t.AlbumId JOIN InvoiceLine il ON t.TrackId = il.TrackId JOIN Invoice i ON il.InvoiceId = i.InvoiceId GROUP BY a.Name ORDER BY TotalRevenue DESC LIMIT 5"[('Iron Maiden', 1233.5400000000025), ('U2', 895.5900000000007), ('Lost', 833.7000000000004), ('Led Zeppelin', 620.7300000000001), ('Metallica', 599.9400000000003)]I now know the top 5 artists by total sales revenue and how much each has earned.
Final Answer: The top 5 artists by total sales revenue are Iron Maiden with $1233.54, U2 with $895.59, Lost with $833.70, Led Zeppelin with $620.73, and Metallica with $599.94.

> Finished chain.
ChatBot: The top 5 artists by total sales revenue are Iron Maiden with $1233.54, U2 with $895.59, Lost with $833.70, Led Zeppelin with $620.73, and Metallica with $599.94.
You: quit
ChatBot: Goodbye!